#logo {
    display: block;
    margin: 10px auto;
    width: 80%;
    max-width: 700px;
    height: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
    background: #fff8d8;
    padding: 20px;
    border-radius: 20px;

    width: 90%;
    max-width: 500px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
}

.text {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 500;
    color: #364a61;
    text-align: center;
}

.underline {
    width: 60px;
    height: 5px;
    background: #364a61;
    border-radius: 9px;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 25px;
}

.login-input {
    display: flex;
    align-items: center;
    gap: 15px;

    width: 100%;
    min-height: 70px;

    border-radius: 10px;
    background: #c7ddef;
    padding: 0 15px;
    box-sizing: border-box;
}

.icon {
    margin: 0 10px;
    flex-shrink: 0;
}

.login-input input {
    flex: 1;
    min-width: 0;

    height: 50px;
    border: none;
    outline: none;
    background: transparent;

    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #364a61;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    margin: 20px auto 30px auto;
}

.action {
    flex: 1;
    max-width: 180px;
    min-width: 140px;
}

.action,
#enter-button {
    width: 100%;
    max-width: 180px;
    min-height: 45px;

    background: #364a61;
    color: #fff8d8;

    font-size: clamp(1rem, 2vw, 1.2rem);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.gray {
    background: #c7ddef;
    color: #364a61;
}


