.header-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.header {
  flex: 1;
  font-family: cooper black, sans-serif !important;
  font-size: 50px !important;
  margin-bottom: 20px;
  color:#364a61
}

.reflection {
    margin-right: 25px;
}

.question1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efe6d2;
    border-radius: 20px;
    height: 220px;
    border: 2px dotted #fff8d8;
}

.question2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff8d8;
    border-radius: 20px;
    height: 220px;
    border: 2px dotted #efe6d2;
}

.reflection-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 25px;
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 5px;

}

.reflection-text  {
    width: 90%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: cooper black, sans-serif ;
    color: #364a61;
    background-color: #f9f9f9;
}