.reflection-header-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}

.reflection-header {
  flex: 1;
  font-size: 40px;
  align-items: center;
  color: #364a61;
}



.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


#question {
  color: #364a61;
  font-size: 30px;
}

.reflection-container {
  background-color: #efe6d2;
  border: 2px dotted #fff8d8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem; 
  margin-bottom: 2rem;
  border-radius: 10px;
}


.reflection-text {
  width: 90%;
  max-width: 1000px;
  min-height: 110px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 18px;
  color: #364a61;
  background-color: #f9f9f9;
}

.reflection-buttons-container{
  display: flex;
  justify-content: center;  
  align-items: center;      
  gap: 12px;                
  margin-top: 20px;
}

#history-button {
  padding: 10px 20px;
  border-radius: 10px;
  width: 20rem;
  height: 3rem;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #668db8;
  color: #fff8d8;
  border: 2px dotted #364a61;

}

#other-button {
  padding: 10px 20px;
  border-radius: 10px;
  width: 20rem;
  height: 3rem;
  font-size: 20px;
  background-color: #668db8;
  color: #fff8d8;
  border: 2px dotted #364a61;

}
#history-button:hover, #other-button:hover {
  background-color: #364a61;
  color: #fff8d8;
}