
.preference-header-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}

.preference-header {
  flex: 1;
  font-size: 40px;
  align-items: center;
  color: #364a61;
}



.preference-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}



.time-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: white;
  padding: 12px 16px;
  border-radius: 12px;
  border: 2px dotted #364a61;
  box-sizing: border-box;
}


#notification-time {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #364a61;
}

.add-button-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.2rem;
}


.add-buttons {
  padding: 0.5rem 1.5rem;
  background-color: #668db8;
  color: #fff8d8;
  border: 2px dotted #364a61;
  border-radius: 8px;
  font-size: 20px;
}

.add-buttons:hover {
  background-color: #364a61;
  color: #fff8d8;
}



.preferences {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.preferences-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}







