/* these api classes are risky across devices - may have diff layouts*/

.sx-react-calendar-wrapper {
  max-width: 100%;
  height: 100%;
  max-height: 1440px;
  font-family: cooper black, sans-serif !important;
  
}

.sx__view-selection-selected-item {
    display: none;
}

.sx__calendar-header .sx__today-button {
    display: none;
}

.sx__calendar-header .sx__date-input {
    margin-left: 30px;
    background-color: #fff8d8 !important;
    color: #533a33 !important;
    border-radius: 10px !important;
    font-size: 20px !important;
   align-items: flex-end !important;
}
    

.sx__calendar-header {
    background-color: #668db8 !important;
}

.sx__week-grid {
    background-color: #668db8 !important;    
}

.sx__week-grid__hour-text {
    color:#364a61 !important;
}

.sx__week-grid__date-axis {
  background-color: #668db8 !important; 
}  

.sx__date-grid {
    background-color: #668db8 !important; 
}

.sx__week-grid__date--is-today .sx__week-grid__date-number {
    background-color: #364a61 !important;
    color: #fff8d8 !important;
    
}
.sx__week-grid__date--is-today .sx__week-grid__day-name {
    color: #364a61;
}

.sx__week-grid__date-number {
    color: #533a33;
     font-size: 25px !important;
}

.sx__week-grid__day-name {
    color: #533a33; 
    font-size: 25px !important;
}

.sx__date-input-label {
  display: none !important;
}

.sx__view-selection-label {
    display: none !important;
}

.sx__date-picker__day.sx__date-picker__day--today {
    background-color: #364a61 !important;
    color: #fff8d8 !important;
    border-radius: 50% !important;
}

.sx__calendar-header .sx__date-picker-popup {
    background-color: #efe6d2 !important;
    border-radius: 50px !important;
}

.sx__date-picker__day.sx__date-picker__day--selected {
    background-color: #668db8 !important;
    color: #fff8d8 !important;
    border-radius: 50% !important;
}

:root {
  --sx-color-primary: #364a61;
}

.weekly-header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;

  width: 97%;
  max-width: 1200px;
}

.weekly-header {
  flex: 1;
  font-family: "Cooper Black", sans-serif;
  font-size: clamp(32px, 3vw, 50px);
  margin-bottom: 20px;
  margin-left: 10px;
  color: #364a61;
}

.reflection-home {
    margin-top: 10px;
}




