
.weekly-header-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}

.weekly-header {
  flex: 1;
  font-size: 40px;
  align-items: center;
  color: #364a61;
}




.weekly-container.focus {
    background: #e7f6fc;
    color: #111;
    height:100%;
}

.weekly-container.relax {
    background: #fff8d8;
    color: #364a61;
    height:100%;
}

.weekly-mode-description {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.mode-btn {
  padding: 12px;
    border-radius: 12px;
    border: dotted 2px #364a61;
    font-size: 15px;
    color: #efe6d2;
    background: #668db8;
}

.mode-btn:hover {
  background-color: #364a61;
  color: #fff8d8;
  
}


.weekly-container.focus .weekly-mode-description {
    color: #364a61;
}

.weekly-container.relax .weekly-mode-description {
    color: #533a33;
}


.weekly-container.relax .rbc-time-view,
.weekly-container.focus .rbc-time-view,
.weekly-container.relax .rbc-time-header,
.weekly-container.focus .rbc-time-header,
.weekly-container.relax .rbc-time-header-content,
.weekly-container.focus .rbc-time-header-content,
.weekly-container.relax .rbc-addons-dnd-row-body,
.weekly-container.focus .rbc-addons-dnd-row-body,
.weekly-container.relax .rbc-header,
.weekly-container.focus .rbc-header,
.weekly-container.relax .rbc-timeslot-group,
.weekly-container.focus .rbc-timeslot-group,
.weekly-container.relax .rbc-day-bg + .rbc-day-bg,
.weekly-container.focus .rbc-day-bg + .rbc-day-bg {
  border-color: #364a61 !important;
}

.weekly-container.relax .rbc-time-content,
.weekly-container.focus .rbc-time-content {
  border-top: 1px solid #364a61 !important;
}

.weekly-container.relax .rbc-time-header-cell,
.weekly-container.focus .rbc-time-header-cell {
  border-bottom: 1px solid #364a61 !important;
}

.rbc-header {
  color: #1f3a5f !important; 
}

.rbc-time-gutter .rbc-time-slot {
  color: #1f3a5f !important;
}

.rbc-label {
  color: #1f3a5f !important;
}

.rbc-toolbar {
  color: #1f3a5f;
}

.rbc-toolbar button {
  color: #1f3a5f !important;
}

.weekly-container.relax .rbc-time-header-cell.rbc-today,
.weekly-container.focus .rbc-time-header-cell.rbc-today,
.weekly-container.relax .rbc-time-header-content .rbc-today,
.weekly-container.focus .rbc-time-header-content .rbc-today,
.weekly-container.relax .rbc-day-slot.rbc-today,
.weekly-container.focus .rbc-day-slot.rbc-today {
  background-color: #fff8d8 !important;
}



.weekly-container.focus .rbc-time-header-cell.rbc-today,
.weekly-container.focus .rbc-time-header-content .rbc-today {
  background-color: #fff8d8 !important;
}

.weekly-container.focus .rbc-day-slot.rbc-today {
  background-color: #fff8d8 !important;
}

.weekly-container.relax .rbc-time-header-cell.rbc-today,
.weekly-container.relax .rbc-time-header-content .rbc-today {
  background-color:  #e7f6fc !important;
}

.weekly-container.relax .rbc-day-slot.rbc-today {
  background-color: #e7f6fc !important;
}

.weekly-header-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 20px; 
  padding: 10px;
  width: 97%;
  max-width: 100%;
  max-height: 100%;
}

.weekly-header {
  flex-shrink: 0; 
  font-size: clamp(32px, 3vw, 50px);
  margin-bottom: 0; 
  margin-left: 10px;
  color: #364a61;
}

.event-focus {
  background-color: #4f46e5 !important;
  border-color: #4338ca !important;
  color: white !important;
}

.event-relax {
  background-color: #10b981 !important; 
  border-color: #059669 !important;
  color: white !important;
}

.event-expired {
    background: white !important;
    color: black !important;
    border: 2px solid #bbb;
}